@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
}

* {
  border-color: hsl(var(--foreground) / 0.1);
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-feature-settings: 'rlig' 1, 'calt' 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

